<ul class="border-t -mx-4 mb-4 md:rounded-sm md:border-0">
  <% data.beers.each_with_index do |beer, index| %>
    <li class="border-b p-4 md:flex md:flex-row-reverse md:mb-12 md:border-t-2 md:border-b-0 rounded-sm">
      <div class="flex-grow md:p-4">
        <div>
          <h3 id="<%= beer["tag"] %>" class="text-3xl font-bold font-serif mr-4 leading-tight"><%= beer["name"] %></h3>
          <div class="text-gray-500 text-sm mb-4">
            <%= beer["abv"] %>% <span class="text-xs font-mono font-bold tracking-wide">ABV</span>
          </div>
        </div>
        <p class="mb-5 max-w-lg"><%= beer["description"] %></p>
      </div>
      <% if beer["image"] %>
        <div class="flex-none max-w-xs md:w-2/6 md:-m-4 md:mr-4">
          <%= image_tag beer["image"], class: "block w-full rounded-sm border-gray-300 border-4 md:border-t-2 md:rounded-tl-none" %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
